<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../styles/shared.html">

<link rel="import" href="../util/app-viewport.html">
<link rel="import" href="../blocks/block-headlines2.html">
<link rel="import" href="../blocks/block-section-latest.html">
<link rel="import" href="../blocks/block-banner.html">
<link rel="import" href="../blocks/block-galleries.html">
<link rel="import" href="../blocks/block-outstanding.html">
<link rel="import" href="../blocks/block-media.html">
<link rel="import" href="../blocks/block-subsections.html">
<link rel="import" href="../blocks/block-radio.html">

<dom-module id="layout-section1">
  <template>
    <style include="shared">

      :host {
        display: block;
      }

/*      .block-col block-banner {
        background: #ccc;
        padding-bottom: 1rem;
      }
      .block-col block-banner:first-of-type {
        padding-top: 1rem;
      }*/

/*      .row .row {
        margin: 0 -16px;
      }*/

    </style>

    <app-viewport xl="{{xl}}" lg="{{lg}}" md="{{md}}" sm="{{sm}}"></app-viewport>

    <div class="page-title">
      <h3>[[data.section]]</h3>
    </div>

    <template is="dom-if" if="{{gMd}}">
      <div class="row">
        <div class="col-12">
          <div class="margin-bottom">
            <block-banner size="b980x90" section="[[section]]"></block-banner>
          </div>
        </div>
      </div>
    </template>

    <div class="row">
      <div class="col-lg-8 col-xl-9">

        <block-headlines2 news="[[data.headlines]]" top-news="[[data.top-news]]"></block-headlines2>

        <block-subsections sections="[[data.subsection-news]]"></block-subsections>

        <block-section-latest news="[[data.latest-news]]"></block-section-latest>

      </div>
      <div class="col-lg-4 col-xl-3">

        <div class="block block-col">

          <block-radio></block-radio>

          <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner>

          <block-media multimedia="[[data.multimedia]]"></block-media>

          <!-- <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner> -->

          <block-galleries galleries="[[data.galleries]]"></block-galleries>

          <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner>

        </div>

      </div>
    </div>



  </template>

  <script>
  
    class LayoutSection1 extends Polymer.Element {
      static get is() { return 'layout-section1'; }
      static get properties() {
        return {
          data: {
            type: Object,
            observer: '_dataChanged'
          },

          gMd: {
            type: Boolean,
            value: false
          }

        };
      }

      static get observers() {
        return [
          'greaterMd(xl, lg)'
        ]
      }

      ready() {
        super.ready();
      }

      greaterMd(xl, lg) {
        this.gMd = (xl || lg);
      }

      _dataChanged() {

        //console.log(this.data);
      }
    }

    window.customElements.define(LayoutSection1.is, LayoutSection1);
  </script>
</dom-module>
