<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../styles/shared.html">

<link rel="import" href="../util/app-viewport.html">
<link rel="import" href="../blocks/block-banner.html">
<link rel="import" href="../blocks/block-galleries.html">
<link rel="import" href="../blocks/block-media.html">
<link rel="import" href="../blocks/block-radio.html">

<dom-module id="layout-opinion1">
  <template>
    <style include="shared">

      :host {
        display: block;
      }
      .list {
        margin-bottom: 2rem;
      }
      .opinion {
        border-bottom: 1px dashed #ccc;
        padding: 0.6rem;
        min-height: 120px
      }
      .opinion:hover {
        background: #eee;
      }
      .opinion h5, h6 {
        margin: 0;
        line-height: 1rem;
        font-weight: 600;
        margin: .4rem 0;
      }
      .opinion h6 {
        color: #3699AB;
        font-weight: 400;
      }
      .opinion h5 {
        font-weight: 500;
      }
      .opinion h5.title {
        font-weight: 200;
      }
      .opinion a {
        color: #333;
      }
      .date {
        padding-left: 18px;
        margin-bottom: 4px;
        font-size: 12px;
        color: #888;
        background: url(../../../images/icons/clock.svg) no-repeat center left;
      }

    </style>

    <app-viewport xl="{{xl}}" lg="{{lg}}" md="{{md}}" sm="{{sm}}"></app-viewport>

    <div class="page-title">
      <h3><a href="front/[[data.sectionId]]">[[data.section]]</a> / [[data.subsec]]</h3>
    </div>

    <template is="dom-if" if="{{gMd}}">
      <div class="row">
        <div class="col-12">
          <div class="margin-bottom">
            <block-banner size="b980x90" section="[[section]]"></block-banner>
          </div>
        </div>
      </div>
    </template>

    <div class="row">
      <div class="col-lg-8 col-xl-9">

        <div class="row list">

          <template is="dom-repeat" items="{{data.news}}" as="news">

            <div class="col-12 col-sm-12 col-mg-6 col-lg-6 col-xl-6">


              <div class="opinion">
                <a href="news/[[news.id]]" noimage$="[[!news.img]]">
                  <h5>[[news.column]]</h5>
                  <h6>[[news.author]]</h6>
                  <h5 class="title">[[news.title]]</h5>
                  <div class="date">{{_dateFormat(news.date)}}</div>
                </a>
              </div>

            </div>

          </template>

        </div>

      </div>
      <div class="col-lg-4 col-xl-3">

        <div class="block block-col">

          <block-radio></block-radio>
          
          <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner>

          <block-galleries galleries="[[data.galleries]]"></block-galleries>

          <!-- <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner> -->

          <block-media multimedia="[[data.multimedia]]"></block-media>

          <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner>

        </div>

      </div>
    </div>


  </template>

  <script>
  
    class LayoutOpinion1 extends Polymer.Element {
      static get is() { return 'layout-opinion1'; }
      static get properties() {
        return {
          data: {
            type: Object
          }

        };
      }

      _dateFormat(dt) {
        let tmp = dt.split('/'),
            nw = tmp[2] + '/' + ((tmp[0].length<2) ? '0' : '') + tmp[0] + '/' + ((tmp[1].length<2) ? '0' : '') + tmp[1];
        return nw;
      }

    }

    window.customElements.define(LayoutOpinion1.is, LayoutOpinion1);
  </script>
</dom-module>
