<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../styles/shared.html">

<link rel="import" href="../util/app-viewport.html">
<link rel="import" href="../blocks/block-headlines1.html">
<link rel="import" href="../blocks/block-latest.html">
<link rel="import" href="../blocks/block-banner.html">
<link rel="import" href="../blocks/block-sections.html">
<link rel="import" href="../blocks/block-galleries.html">
<link rel="import" href="../blocks/block-opinions.html">
<link rel="import" href="../blocks/block-top-news.html">
<link rel="import" href="../blocks/block-outstanding.html">
<link rel="import" href="../blocks/block-weather.html">
<link rel="import" href="../blocks/block-media.html">



<dom-module id="layout-home1">
  <template>
    <style include="shared">

      :host {
        display: block;
      }

      .margin-bottom {
        margin-top: 1rem;
      }


/*      .block-col block-banner {
        background: #ccc;
        padding-bottom: 1rem;
      }
      .block-col block-banner:first-of-type {
        padding-top: 1rem;
      }*/

/*      .row .row {
        margin: 0 -16px;
      }*/

    </style>

    <app-viewport xl="{{xl}}" lg="{{lg}}" md="{{md}}" sm="{sm}}"></app-viewport>

    <template is="dom-if" if="{{gMd}}">
      <div class="row">
        <div class="col-12">
          <div class="margin-bottom">
            <block-banner size="b980x90"></block-banner>
          </div>
        </div>
      </div>
    </template>

    <div class="row">
      <div class="col-lg-8 col-xl-9">

        <block-headlines1 news="[[data.headlines]]" top-news="[[data.top-news]]"></block-headlines1>

      </div>
      <div class="col-lg-4 col-xl-3">

        <block-opinions news="[[data.opinion]]"></block-opinions>

        <div class="block block-col">

          <block-banner size="b300x250"></block-banner>

        </div>

        <block-weather></block-weather>

      </div>
    </div>

<!--     <div class="row">
      <div class="col-12">

        <block-outstanding></block-outstanding>

      </div>
    </div> -->

    <div class="row">

      <template is="dom-if" if="{{lg}}">
        <div class="col-lg-12 margin-bottom">

          <block-banner size="b980x90"></block-banner>

        </div>
      </template>
      
      <div class="col-lg-8 col-xl-9">

        <div class="row">

          <template is="dom-if" if="{{xl}}">
            <div class="col-xl-12 margin-bottom">

              <block-banner size="b980x90"></block-banner>

            </div>
          </template>

          <div class="col-lg-3 col-xl-3">

            <block-latest news="[[data.latest]]"></block-latest>

          </div>
          <div class="col-lg-9 col-xl-9">

            <block-sections sections="[[data.section-news]]"></block-sections>

          </div>

        </div>

      </div>
      <div class="col-lg-4 col-xl-3">

        <div class="block block-col">

          <block-galleries galleries="[[data.galleries]]"></block-galleries>

          <block-banner size="b300x250" class="margin-bottom"></block-banner>

          <block-banner size="b300x250" class="margin-bottom"></block-banner>

          <block-media multimedia="[[data.multimedia]]"></block-media>

        </div>

      </div>
    </div>


  </template>

  <script>
  
    class LayoutHome1 extends Polymer.Element {
      static get is() { return 'layout-home1'; }
      static get properties() {
        return {
          data: {
            type: Object,
            // observer: '_dataChanged'
          },

          gMd: {
            type: Boolean,
            value: false
          }

        };
      }

      static get observers() {
        return [
            'greaterMd(xl, lg)'
        ]
      }

      ready() {
        super.ready();
      }

      greaterMd(xl, lg) {
        // console.log("============");
        // console.log("xl:"+this.xl);
        // console.log("lg:"+this.lg);
        this.gMd = (xl || lg);
      }

      // _dataChanged() {

      //   console.log(this.data);
      // }
    }

    window.customElements.define(LayoutHome1.is, LayoutHome1);
  </script>
</dom-module>
