<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../styles/shared.html">

<link rel="import" href="../util/app-viewport.html">
<link rel="import" href="../blocks/block-headlines1.html">
<link rel="import" href="../blocks/block-latest.html">
<link rel="import" href="../blocks/block-banner.html">
<link rel="import" href="../blocks/block-sections.html">
<link rel="import" href="../blocks/block-galleries.html">
<link rel="import" href="../blocks/block-opinions.html">
<link rel="import" href="../blocks/block-top-news.html">
<link rel="import" href="../blocks/block-outstanding.html">
<link rel="import" href="../blocks/block-weather.html">
<link rel="import" href="../blocks/block-media.html">
<link rel="import" href="../blocks/block-radio.html">


<dom-module id="layout-home1">
  <template>
    <style include="shared">

      :host {
        display: block;
      }

      .margin-bottom {
        margin-top: 1rem;
      }

    </style>

    <app-viewport xl="{{xl}}" lg="{{lg}}" md="{{md}}" sm="{{sm}}"></app-viewport>

    <template is="dom-if" if="{{gMd}}">
      <div class="row">
        <div class="col-12">
          <div class="margin-bottom">
            <block-banner size="b980x90" section="home"></block-banner>
          </div>
        </div>
      </div>
    </template>

    <div class="row">
      <div class="col-lg-8 col-xl-9">

        <div class="row">

          <div class="col-12">

            <block-headlines1 news="[[data.headlines]]" top-news="[[data.top-news]]"  tips="[[data.tips]]"></block-headlines1>

            <template is="dom-if" if="{{ltl}}">
              <block-outstanding news="[[data.outstanding]]" format="outstanding1"></block-outstanding>
            </template>

          </div>

          <template is="dom-if" if="{{xl}}">
            <div class="col-xl-12 margin-bottom">

              <block-banner size="b980x90" section="[[section]]"></block-banner>

            </div>
          </template>

          <template is="dom-if" if="{{gMd}}">
            <div class="col-lg-3 col-xl-3">

              <block-latest news="[[data.latest]]"></block-latest>

            </div>
          </template>

          <div class="col-lg-9 col-xl-9">

            <block-sections sections="[[data.section-news]]"></block-sections>

          </div>

        </div>

      </div>
      <div class="col-lg-4 col-xl-3">

        <div class="block">

          <block-radio></block-radio>

          <template is="dom-if" if="{{gMd}}">
            <block-outstanding news="[[data.outstanding]]" format="outstanding2"></block-outstanding>
          </template>

          <block-opinions news="[[data.opinion]]"></block-opinions>

          <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner>

          <block-media multimedia="[[data.multimedia]]"></block-media>

          <block-weather></block-weather>

          <block-banner size="b300x250" section="[[section]]" class="margin-bottom"></block-banner>

          <block-galleries max="3" galleries="[[data.galleries]]"></block-galleries>

        </div>

      </div>
    </div>

  </template>

  <script>
  
    class LayoutHome1 extends Polymer.Element {
      static get is() { return 'layout-home1'; }
      static get properties() {
        return {
          data: {
            type: Object
          },

          gMd: {
            type: Boolean,
            value: false
          }

        };
      }

      static get observers() {
        return [
            'greaterMd(xl, lg)'
        ]
      }

      ready() {
        super.ready();
      }

      greaterMd(xl, lg) {
        this.gMd = (xl || lg);
        this.ltl = !(xl || lg);
      }

    }

    window.customElements.define(LayoutHome1.is, LayoutHome1);
  </script>
</dom-module>
